<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户注册协议/使用手册</title>
    <style>
        .logo{
        position: fixed;
        background-color: #333;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 0.6;
    }
    .zck{
        position: fixed;
        height: 545px;
        width: 947px;
        top: 10px;
        left: 197px;
        background-color: white;
    }
        .sm{
        background-color: lightgrey;
        height: 31px;
    }
    </style>
</head>
<body>
<div class="logo">
<div class="zck">
<div class="sm">
<div style="font-weight: bold;padding-top: 5px;padding-left: 7px;color: black;float: left;z-index: 5;">用户注册协议</div>
<div style="background-p_w_picpath: url(img/dialog.png);height: 23px;
    background-repeat: no-repeat;float: right;background-position: 3px 7px;
    padding-right: 10px;padding-top: 10px;z-index: 11;cursor: pointer;"">&nbsp;</div>
<div style="clear: both;"></div>
</div>
<div style="height: 30px;"></div>
<div style="background-color: saddlebrown;height: 374px;width: 897px;border:0px;margin: auto;">
<textarea style="width: 897px;height: 374px;">
用户注册协议

用户使用手册
网站背景介绍:
  近年来，川大学生节假日、寒暑假离返校用车需求大，川大校区附近运输的供给无法满足学生的出行需求，这一问题尤以尚未开通地铁的江安校区为突出；即使开通地铁的校区附近，地铁也难以满足非运营时间用车的需求；此外，学生单人打车价格昂贵，学生对拼车需求巨大。目前已有的川大拼车群，信息发布混乱，信息检索低效，且群员身份难以核实，安全没有保障；本项目在此基础上，通过规范拼车信息，核实用户信息等方式，建立一个全新的川大拼车信息交流平台。

</textarea>
</div>
<div style="position: relative;height: 110px;width: 947px;position: fixed;">
<div style="position: absolute;height: 60px;background-color: white;width: 250px;bottom: 20px;left: 350px;">
<a href="#" onClick="javascript :history.go(-1);">同意并继续</a>
</div>
</div>
</div>
</body>
</html>