{% extends 'base.html' %}
{% block title %}发布详情{% endblock %}
{% block content %}
<table border="1" class="hovertable" style="font-size: 20px;">
    <thead>
    <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
        <th>username</th>
        <th>bookname</th>
        <th>price</th>
        <th>major</th>
        <th>grade</th>
        <th>qq</th>
        <th>pic</th>
        <th>type</th>
    </tr>
    </thead>
    <tbody>
    <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
        <td>{{ request.session.user_name }}</td>
        <td>{{ bookname }}</td>
        <td>{{ price }}</td>
        <td>{{ major }}</td>
        <td>{{ grade }}</td>
        <td>{{ qq }}</td>
        <td>{{ pic }}</td>
        <td>{{ type }}</td>
    </tr>
    </tbody>
</table>
{% endblock%}