{% extends 'adminbase.html' %}
{% block title %}管理员中心{% endblock %}
{% block content %}
{% if complist %}
<br><br><br><br>
    <table border="1" class="hovertable" style="font-size: 20px;" align="center">
        <thead>
            <th>投诉用户</th>
            <th>被投诉用户</th>
            <th>投诉内容</th>
            <th>处理状态</th>
            <th colspan="2">编辑</th>
        </thead>
        <tbody>
        {% for comp in complist %}
        <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
                <td>{{ comp.userac }}</td>
                <td>{{ comp.userpa }}</td>
                <td>{{ comp.content }}</td>
                <td>{{ comp.processstate }}</td>
                <td  ><form action="/compprocess/{{ comp.id }}/pass" method="post" class="form-report">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">通过</button>
                </form></td>
                <td><form action="/compprocess/{{ comp.id }}/reject" method="post" class="form-report">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">拒绝</button>
                </form></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
