{% extends 'base.html' %}
{% load static %}
{% block title %}查询{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css'%}">
    <style type="text/css">
        label {
            width: 180px;
        }
    </style>

{% endblock%}

{% block buttonstart %}
        <div class="col" style="position:relative;left: 250px;width:65% ; font-size: 25px;">
            <form action="/search/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ search_form.departure.label_tag }}
                    {{ search_form.departure }}
                </div>
                <div class="form-group">
                    {{ search_form.destination.label_tag }}
                    {{ search_form.destination }}
                </div>
                <div class="form-group">
                    {{ search_form.time.label_tag }}
                    <input class="form-group" type="datetime-local" id="time1" name="time" placeholder="time"/>
                    </div>
                <div style="position:relative; left: 150px;"><button type="submit" class="btn btn-primary" style=" width: 25%;font-size: 20px;">查询</button></div>

            </form>
        </div>
{% endblock %}



