<!--A Design by W3layouts
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>四川大学拼车系统</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<!-- css files -->
<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="all">
<!-- //css files -->

<link rel="stylesheet" href="{% static 'css/font-awesome.css'%}"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
<!-- section -->
<section class="register">
	<div class="register-full" style="position:relative; padding-top:4.5%;">
		<div class="register-left" >
			<div class="register">
				<div class="logo">
					<a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
				</div>
				<h1>四川大学拼车系统</h1>
				<p style="font-size: 16px">四川大学拼车系统介绍</p>
				<div class="content3">
					<ul>
						<li>
							<a href="/register/" class="text-success " >
                                新用户注册
                            </a>
						</li>

						<li><a class="read" href="/terms/" > 用户使用手册</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="register-right" style="position:relative; padding-top:2.5%;">
			<div class="register-in">
				<h2><span class="fa fa-pencil">

				</span> 欢迎登录 </h2>
				<div class="register-form">
					<form class="form-login" action="/login/" method="post">
						{% if message %}
            <script type="text/javascript" language="JavaScript">
        		alert("{{ message }}");
            </script>
            {% endif %}
						{% csrf_token %}
						<div class="form-group">
                <h3 style="color:white;font-size: 16px">{{ login_form.username.label_tag }}</h3>
<!--                {{ login_form.username.label_tag }}-->
                {{ login_form.username}}
                </div>
                <div class="form-group">
                <h3 style="color:white;font-size: 16px">{{ login_form.password.label_tag }}</h3>
<!--                {{ login_form.password.label_tag }}-->
                {{ login_form.password }}
                </div>
						<div class="fields-grid">
							<div class="clear"> </div>
							 
						</div>
						<input type="submit" class="btn btn-primary float-right" value="登录">
					</form>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	<div class="clear"> </div>
	</div>
	<!-- copyright -->
	<p class="agile-copyright">© 2020 SCU Carpool. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">3L</a></p>
	<!-- //copyright -->
</section>
<!-- //section -->
</body>	
<!-- //body ends -->
</html>